.header {
    background-image: url('../../assets/img/header_bg.png');
    background-size: cover;
    height: 100vh;
}

.header-small {
    height: 100px;
}

.title {
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    text-shadow: 2px 2px 8px #6d6d6d;
    font-family: "Aldrich", sans-serif;
}

.nav-link {
    text-shadow: 2px 2px 4px #6d6d6d;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.nav-link:hover {
    color: #ddccb2;
}

.hero-container {
    padding-left: 40%;
    margin-top: 12%;
}

.hero-text {
    color: white;
    font-size: 3.5rem;
    font-family: "Aldrich", sans-serif;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.btn-custom {
    color: white;
    border-color: white;
    font-size: 1.5rem;
}

.btn-custom:hover {
    color: #ddccb2;
    border-color: #ddccb2;
}