<!-- Footer -->
<footer class="footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row justify-content-center">
        <!--Grid column-->
        <div class="col-lg-3 text-start ">
          <h5 class="text-uppercase">wiekrypto.kaufen</h5>
  
          <p class="footer-text">
            betrieben von:
          </p>
          <p class="footer-text">
            Martin Altmann<br>
            Piccoloministr. 2B<br>
            80807 München
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 text-end">
          <h5 class="text-uppercase">Inhalt</h5>
  
          <ul class="list-unstyled mt-3 ">
            <li>
                <a class="footer-link" href="#anleitung">3-Schritt Anleitung</a>
              </li>
              <li>
                <a class="footer-link" href="#boersen">Börsen Vergleich</a>
              </li>
              <li>
                <a class="footer-link" href="impressum">Impressum</a>
              </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 text-end">
          <h5 class="text-uppercase mb-0">Börsen</h5>
  
          <ul class="list-unstyled mt-3">
            <li>
              <a class="footer-link" href="binance">Binance</a>
            </li>
            <li>
              <a class="footer-link" href="coinbase">Coinbase</a>
            </li>
            <li>
              <a class="footer-link" href="crypto-com">Crypto.com</a>
            </li>
            <li>
                <a class="footer-link" href="huobi">Huobi</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2021 Copyright - wiekrypto.kaufen
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->