.footer {
    background-image: url('../../assets/img/footer_bg.jpg');
    color: white;
}

.footer-link {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.footer-link:hover {
    color: #ddccb2;
}

.footer-text {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}