<div id="anleitungen" class="container-fluid p-5" style="background-color: #eeeeee;">
    <div class="container p-5">
        <div class="row">
            <div class="col justify-content-center">
                <span class="step text-uppercase">Übersicht</span>
                <h2>VERFÜGBARE ANLEITUNGEN</h2>
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-3 text-start mt-1">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Binance <span class="badge alert-warning">bald verfügbar</span></h5>
                            </div>
                            <img class="card-img-top" src="assets/img/tutorial_headers/binance.png">
                            <div class="card-body text-center">
                                <a href="binance" class="btn btn-outline-secondary disabled">Zur Binance Anleitung</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-start mt-1">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Coinbase <span class="badge alert-warning">bald verfügbar</span></h5>
                            </div>
                            <img class="card-img-top" src="assets/img/tutorial_headers/coinbase.png">
                            <div class="card-body text-center">
                                <a href="coinbase" class="btn btn-outline-secondary disabled">Zur Coinbase Anleitung</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-start mt-1">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Crypto.com <span class="badge alert-warning">bald verfügbar</span></h5>
                            </div>
                            <img class="card-img-top" src="assets/img/tutorial_headers/crypto-com.png">
                            <div class="card-body text-center">
                                <a href="crypto-com" class="btn btn-outline-secondary disabled">Zur Crypto.com Anleitung</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-start mt-1">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">Huobi <span class="badge alert-warning">bald verfügbar</span></h5>
                            </div>
                            <img class="card-img-top" src="assets/img/tutorial_headers/huobi.png">
                            <div class="card-body text-center">
                                <a href="huobi" class="btn btn-outline-secondary disabled">Zur Huobi Anleitung</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>